.post-title {
  font-family: "Montserrat", sans-serif;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px;
}

.post-container {
  margin: 0 auto;
  width: 55vw;
  border-radius: 5px;
}

.main-post {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55vw;
  height: 70px;
}

.post-btn-section {
  margin-top: 30px;
}

.post-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid rgb(250, 223, 80);
  background-color: rgb(250, 223, 80);
  color: black;
  font-weight: bold;
  box-shadow: 1px 0.5px 1px 0.5px black;
}

.post-btn:hover {
  box-shadow: 2px 1px 2px 1px black;
}

.post-input {
  height: 120px;
  border-radius: 5px;
  border: 0.5px solid lightgray;
  box-shadow: 0.5px 0.5px 1px 1px #ccc;
}
