.nav-bar {
  background-color: white;
  height: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-wrapper {
  background-color: white;
}

.nav-links {
  color: black;
}

.logo-link {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-search {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 35px;
}

.search::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}