.User {
  display: grid;
  grid-template-columns: 320px 1fr; 
  margin: 20px;
}

.background-color-div {
    background: #f0f0f0;
    padding: 1.5em;
    border-radius: 20px;
    margin: 20px;
}

.inner-div {
    grid-column: 1/2;
    margin-top: 20px;
}

.user-posts {
    grid-column: 2/3;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.user-links {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-post-header {
    font-family: "Montserrat", sans-serif;
}

.edit-button {
    background-color: #fa4542;
    font-family: "Montserrat", sans-serif;
    border-radius: 12px;
    color: white;
    padding: 20px 30px 20px 30px;
    border: none;
    box-shadow: 3px 3px 1px #888888;
    margin: 20px 0px 0px 0px;
}