.User {
    float: left;
    margin: 80px 0px 80px 100px;    
}

.background-color-div {
    background: #f0f0f0;
    padding: 1.5em;
    border-radius: 20px;
    margin: 20px;
}

.inner-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

img {
    border-radius: 50%;
}

button {
    background-color: #fa4542;
    font-family: 'Montserrat', sans-serif;
    border-radius: 12px;
    color: white;
    padding: 20px 30px 20px 30px;
    border: none;
    box-shadow: 3px 3px 1px #888888;
    margin: 20px 0px 0px 0px;
}