.ga-login {

}

.landing-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.logo-section {
    grid-column: 1/2;
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px black;
    margin-left: 75px;
}

.content {
    font-size: 18px;
}

.login-section {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}