.sign-up-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sign-up-logo {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px black;
}

.sign-up-form {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.content {
    font-size: 18px;
}