.sign-up {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    border: 1px solid rgb(231,231,231);
    border-radius: 10px;
    background-color: rgb(231,231,231);
    box-shadow: 3.5px 2px 3.5px 2px black;
    width: 60%;
}

.signup-title {
    font-size: 20px;
    font-weight: bold;
}

.signup-btn {
    color: black;
    width: 180px;
    border-radius: 5px;
    margin-bottom: 30px;
    font-weight: bold;
}
