

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
}

.main-post {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 70px;
}

.post-btn {
    height: 30px;
    width: 70px;
    border-radius: 120px;
    background-color: rgb(79, 79, 248);
    color: white;
}

.post-btn:hover {
    background-color: white;
    color: rgb(79, 79, 248);
}